.banner {
    height: 500px;
    background: url('./banner.jpg') center center no-repeat;
    padding: 20px;

    .about-signin {
        height: 80px;
        width: 100%;
        text-align: right;

        .about,
        .signin {
            text-decoration: none;
            text-transform: uppercase;
            margin-top: 10px;
            display: inline-block;
            padding: 10px 15px;
        }

        .signin {
            margin-right: 25px;
            margin-left: 20px;
            border: solid 1px green;
            border-radius: 20px;
        }
    }

    .logo {
        padding-top: 10px;
        background: url('./hapoERP.png') center center no-repeat;
        height: 80px;

    }

    .content-center {

        height: 40px;
        width: 100%;

        .left,
        .center,
        .right {

            width: 32.5%;
            display: inline-block;
            text-align: center;

            img {
                width: 40px;
                height: 40px;
            }

            span {
                display: block;
                margin-top: 20px;
                font-size: larger;
            }
        }
    }

    .text {
        text-align: center;
        margin-top: 50px;

        span {
            display: block;
            margin-top: 20px;
            font-size: larger;
            color: green;
        }
    }

    .btn-start-now {
        text-align: center;

        button {
            /* text-align: center; */
            text-transform: uppercase;
            padding: 10px 15px;
            border-radius: 20px;
            border: solid 1px green;
            margin-top: 20px;
            cursor: pointer;
        }

    }


}

.btn-kd {
    text-align: center;

    button {
        text-align: center;
        text-transform: uppercase;
        padding: 7px 15px;
        border-radius: 20px;
        border: solid 1px green;
        margin-top: 20px;
        cursor: pointer;
    }
}